@font-face {
    font-family: "Mulish";
    src: url("../assets/fonts/Mulish-Regular.woff") format("woff");
}
@font-face {
    font-family: "MulishBold";
    src: url("../assets/fonts/Mulish-Bold.woff") format("woff");
}
@font-face {
    font-family: "MulishExtraBold";
    src: url("../assets/fonts/Mulish-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "MulishSemiBold";
    src: url("../assets/fonts/Mulish-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "MulishBlack";
    src: url("../assets/fonts/Mulish-Black.woff") format("woff");
}